* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

ul, ol {
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 0.8em;
}

li {
  margin-bottom: 5px;
}

ol > li > span {
  float: right;
}

button {
  width: 100%;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  text-transform: uppercase;
  background-color: green;
  transition: 300ms;
}

button:hover {
  background-color: rgb(44, 141, 44);
}

input {
  border: none;
  padding: 6px 0px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

input:focus {
  outline: none;
}

.top {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 60px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 5px 5px #555;
}

.characters {
  padding: 5px 0;
}

.characters > span {
  margin: 0px 10px;
}

.found {
  text-decoration: line-through;
}

.counter {
  font-size: 1.2em;
  font-weight: bold;
}

.image {
  padding-top: 60px;
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  margin-top: 100px;
  padding: 20px;
  width: 300px; /* Could be more or less, depending on screen size */
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 700px) {
    .modal-content {
        width: 80%;
    }
}